@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{font-family: 'Roboto', sans-serif;}

/*********************VARIABLES**********************/
:root{
 --primary-white:#fff; 
 --primary-orange:#f9ab00;
 --primary-red:#df2950;
 --primary-gray:#f3ecee;
}

/*********************NAVBAR-LOGO**********************/
.logo{width:5rem;
    border-radius: 20%;
 }

/*********************NAVBAR LINK**********************/
.navbar-nav .nav-link{
    font-weight: 2rem;
    font-size: 0.7rem;
    letter-spacing: 0.19rem;
    color: var(--primary-white) !important;
    margin-left: 0.75rem;
    margin-right: 0.75ren;
}

.a.nav-link , a.nav-link:focus {
border-top: 0.1875rem solid var(--primary-orange)
}
.a.nav-link , a.nav-link:hover {
    border-top: 0.1875rem solid var(--primary-orange)  
}

/*********************HEADER**********************/
.header-wrapper{

    position: relative;
    background: url(header2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.main-wrapper{
   
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family:  sans-serif;
   padding-top: 100px;
}

.main-wrapper h1{
    text-transform: uppercase;
    color: #0c0d68;
}

/*********************TYPED-TEXT**********************/
.typed-text{
font-size: 2rem;
color: var(--primary-red );
font-family: monospace;
font-style: italic;
  
}

/*********************CARD-BUTTON-PRICE-WRAPPER**********************/
.button-wrapper{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10%;    
}
.button-wrapper h4{
    padding-top: 10px;

}

/*********************CARD-DESIGN**********************/
.card{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    margin-right:4rem;
}
/*********************FOOTER-WRAPPER**********************/

.footer-wrapper{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-gray);
    font-family:  sans-serif;
    
    
}