@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{font-family: 'Roboto', sans-serif;}

/*********************VARIABLES**********************/
:root{
 --primary-white:#fff; 
 --primary-orange:#f9ab00;
 --primary-red:#f90036;
}

/*********************NAVBAR**********************/
.logo{width:5rem;}

/*********************NAVBAR LINK**********************/
.navbar-nav .nav-link{
    font-weight: 2rem;
    font-size: 0.7rem;
    letter-spacing: 0.19rem;
    color: var(--primary-white) !important;
    margin-left: 0.75rem;
    margin-right: 0.75ren;
}

.a.nav-link , a.nav-link:focus {
border-top: 0.1875rem solid var(--primary-orange)
}
.a.nav-link , a.nav-link:hover {
    border-top: 0.1875rem solid var(--primary-orange)  
}

/*********************HEADER**********************/
.header-wrapper{

    position: relative;
    background: url(header2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.main-wrapper{
   
   display: flex; 
   flex-direction: column;
   justify-content: centers;
   align-items: center;
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding-top: 100px;
}

.main-wrapper h1{
    text-transform: uppercase;
    color: #680c2f;
}

/*********************TYPED-TEXT**********************/
.typed-text{
font-size: 2rem;
color: var(--primary-red );
font-family: monospace;
font-style: italic;
  
}

